body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif; 
}

.container{
    display: flex;
    background-color: rgb(60, 187, 21);
    align-items: center;
    justify-content: center;
}

.title{
    padding: 20px;
    background-color: navajowhite;
    font-weight: 800;
    display: flex; 
    justify-content: center;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    background-color: lightseagreen;
}

.btncontain{
    background-color: black;
    padding-left: 15px;
    
}

button{
    width: 50px;
    height: 20px;
   
}