body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    
}


.container{
    display: flex;
    background-color: rgb(60, 187, 21);
    align-items: center;
    justify-content: center;
    
    
}

.title{
    background-color: brown;
    font-weight: 800;
    display: flex; 
    justify-content: center;
}