body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif; 
}

.container{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.title{
    padding: 20px;
    background-color: white;
    font-weight: 800;
    display: flex; 
    justify-content: center;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    background-color: lightseagreen;
    border: 2px solid black;
}

#btncontain{
    background-color: lightseagreen;
    padding-left: 17px;
}

button{
    width: 50px;
    height: 20px;
    background-color: white;
}

.op {
    background-color: grey;
    color: white;
}