body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 20px;
  background-color: white;
  font-weight: 800;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: lightseagreen;
  border: 2px solid black;
}

#btncontain {
  background-color: lightseagreen;
  padding-left: 40px;
}

button {
  width: 75px;
  height: 30px;
  background-color: white;
  font-size: 20px;
}

.op {
  background-color: rgb(107, 107, 107);
  color: white;
}

.clear {
  background-color: rgb(230, 46, 46);
  color: white;
}

.equal {
  width: 154.5px;
}

input {
  width: 300px;
  height: 40px;
  font-size: 25px;
}
